.idea/

/vendor/

/docs/

/generated/

*.swp
*.swo

/log/*.log

/config/*.env

.phpstorm.meta.php

.coverage/
.phpunit.result.cache

*.ini
*.conf
*.env

.phpunit/
phpunit.xml
phpunit.xml.dist

/.phpunit.result.cache

/build/
/dist/

/.env.test
/.env.local

/var/log/
/var/cache/
/var/sessions/

/src/Migrations/
/database/migrations/
/.composer/